- if current_user
  = current_user.email
  %nav.navbar.navbar-expand-lg.bg-light
    .container-fluid
      %a.navbar-brand{:href => "#"} Udemy Clone
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            %a.nav-link.active{"aria-current" => "page", :href => "#"}
              = link_to root_path, class:"btn btn-success" do
                %i.fa-solid.fa-house
          %li.nav-item
            %a.nav-link{:href => "#"}
              = link_to courses_path, class:"btn btn-secondary" do
                %i.fa-solid.fa-book
                Courses
          %li.nav-item
            %a.nav-link{:href => "#"}
              = link_to new_course_path, class:"btn btn-secondary" do
                %i.fa-solid.fa-plus
                New Course
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Dropdown
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "#"} 
                  = link_to 'Account Settings', edit_user_registration_path 
              %li
                %a.dropdown-item{:href => "#"} Another action
              %li
                %hr.dropdown-divider/
              %li
                %a.dropdown-item{:href => "#"}
                  = link_to 'Sign Out', destroy_user_session_path, method: :delete
          %li.nav-item
            %a.nav-link{:href => "#"}
              = link_to 'Sign Out', destroy_user_session_path, method: :delete
        %form.d-flex{:role => "search"}
          = form_tag(courses_path, method: :get) do
            .input-group
              = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
              %button.btn.btn-outline-success{:type => "submit"} Search
- else
  = link_to 'Sign up', new_user_registration_path
  = link_to 'Log in', new_user_session_path
